<!-- Blog Area Start-->
<section class="tj-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper">
                    <div class="sec-text wow fadeInLeft" data-wow-delay=".3s">
                        <h5 class="tj-section-subtitle"><span class="one"><i class="flaticon-start"></i></span> Blog & News </h5>
                        <h2 class="tj-section-title">Latest New and Blog</h2>
                    </div>
                    <div class="tj-blog-top-button d-none d-lg-inline-block wow fadeInRight" data-wow-delay=".3s">
                        <a class="tj-round-btn" href="contact.html">View more <i class="fa-regular fa-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div *ngFor="let item of dataHomePage?.blogs" class="col-xl-4 col-lg-6 col-md-6">
                <div class="tj-blog-wrapper wow fadeInUp" data-wow-delay=".4s">
                    <div class="tj-blog-thumb">
                        <a href="blog-details.html"><img [src]="environment.site_url + item.image?.url" alt=""></a>
                        <div class="tj-blog-date">
                            <span class="one">10</span>
                            <span class="two">Feb</span>
                        </div>
                    </div>
                    <div class="tj-blog-content">
                        <div class="tj-blog-meta">
                            <span><i class="flaticon-user"></i> By<a href="#"> Cleannes</a></span>
                            <span><i class="flaticon-comment"></i> Comments (09)</span>
                        </div>
                        <h4 class="tj-blog-title"><a href="blog-details.html">Let us handle the dirt while you enjoy the shine</a></h4>
                        <p class="tj-blog-paragraph"> The cost of cleaning services is vary depending on factors such as the size of space</p>
                        <div class="tj-blog-button">
                            <a class="tj-blog-btn tj-arrow-btn" href="blog-details.html">Read More                                         
                                <span class="icon_box">
                                    <i class="icon_first fa-regular fa-arrow-right"></i>
                                    <i class="icon_second fa-regular fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="tj-blog-wrapper-shape">
                        <img src="assets/images/blog/blog-wrapper-shape.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="tj-blog-top-button text-center wow fadeInRight d-lg-none" data-wow-delay=".6s">
                <a class="tj-round-btn" href="contact.html">View more <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End-->