<!-- Header Area Start -->
<header class="tj-header-area tj-header-absolute">
    <div class="tj-header-top d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="tj-header-top-wrapper">
                        <div class="tj-header-top-logo d-none d-xl-block">
                            <a href="/home"><img src="assets/images/logo/SUF - Landscape Logo - Gray.png" alt="Logos"></a>
                        </div>
                        <div class="h1-header-infos">
                            <div class="infos-item">
                                <div class="infos-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="infos-content">
                                    <span class="label">Call Us</span>
                                    <span><a href="tel:+208555-0112">(208) 555-0112</a></span>
                                </div>
                            </div>
                            <div class="infos-item">
                                <div class="infos-icon">
                                    <i class="flaticon-email-2"></i>
                                </div>
                                <div class="infos-content">
                                    <span class="label">Email Us</span>
                                    <span><a href="mailto:helpcleaning&#64;gmail.com">helpcleaning&#64;gmail.com</a></span>
                                </div>
                            </div>
                            <div class="infos-item">
                                <div class="infos-icon">
                                    <i class="flaticon-location"></i>
                                </div>
                                <div class="infos-content">
                                    <span class="label">Email Us</span>
                                    <span class="location">Shiloh, Hawaii 81063</span>
                                </div>
                            </div>
                        </div>
                        <div class="tj-header-top-social d-none d-lg-block">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tj-header-bottom">
        <div class="container gx-0">
            <div class="row gx-0">
                <div class="col">
                    <div class="tj-header-bottom-wrapper tj-header-bottom-row">
                        <div class="tj-header-bottom-mobile-logo d-block d-xl-none">
                            <a href="/home">
                                <img src="assets/images/logo/SUF - Landscape Logo - Gray.png" alt="Logos">
                            </a>
                        </div>
                        <div class="tj-header-bottom-left d-none d-xl-block">
                            <div class="mainmenu-wrapper">
                                <div class="mainmenu-box">
                                    <div class="mainmenu main-mobile-menu d-none d-lg-inline-block">
                                        <ul>
                                            <li class="current-menu-ancestor">
                                                <a href="/home">Home</a>
                                            </li>
                                            <li class="has-dropdown {{currentRoute === '/services' || currentRoute === '/service-details' ? 'current-menu-ancestor' : ''}}">
                                                <a href="javascript:void(0)">Services</a>
                                                <ul class="sub-menu">
                                                    <li class="{{currentRoute === '/services' ? 'current-menu-item' : ''}}"><a href="/services">Services</a></li>
                                                    <li class="{{currentRoute === '/service-details' ? 'current-menu-item' : ''}}"><a href="/service-details">Services Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown {{currentRoute === '/portfolio' || currentRoute === '/portfolio-details' ? 'current-menu-ancestor' : ''}}">
                                                <a href="javascript:void(0)">Portfolio</a>
                                                <ul class="sub-menu">
                                                    <li class="{{currentRoute === '/portfolio' ? 'current-menu-item' : ''}}"><a href="/portfolio">Portfolio</a></li>
                                                    <li class="{{currentRoute === '/portfolio-details' ? 'current-menu-item' : ''}}"><a href="/portfolio-details">Portfolio Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown {{currentRoute === '/about' || currentRoute === '/teams' || currentRoute === '/team-details' ? 'current-menu-ancestor' : ''}}   ">
                                                <a href="javascript:void(0)">Pages</a>
                                                <ul class="sub-menu">
                                                    <li class="{{currentRoute === '/about' ? 'current-menu-item' : ''}}"><a href="/about">About</a></li>
                                                    <li class="{{currentRoute === '/teams' ? 'current-menu-item' : ''}}"><a href="/teams">Teams</a></li>
                                                    <li class="{{currentRoute === '/team-details' ? 'current-menu-item' : ''}}"><a href="/team-details">Team Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown {{currentRoute === '/blog-grid' || currentRoute === '/blog-stander' || currentRoute === '/blog-details' ? 'current-menu-ancestor' : ''}}">
                                                <a href="javascript:void(0)">News</a>
                                                <ul class="sub-menu">
                                                    <li class="{{currentRoute === '/blog-grid' ? 'current-menu-item' : ''}}"><a href="/blog-grid">Blog Grid</a></li>
                                                    <li class="{{currentRoute === '/blog-stander' ? 'current-menu-item' : ''}}"><a href="/blog-stander">Blog Stander</a></li>
                                                    <li class="{{currentRoute === '/blog-details' ? 'current-menu-item' : ''}}"><a href="/blog-details">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="{{currentRoute === '/contact' ? 'current-menu-item' : ''}}"><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tj-header-bottom-right">
                            <div class="tj-header-bottom-search d-none d-xl-block">
                                <button class="tj-header-search tj-search-popup"><i class="flaticon-search"></i></button>
                            </div>
                            <div class="tj-header-bottom-cart d-none d-sm-block">
                                <button class="tj-header-cart cartmini-open-btn"><i class="flaticon-cart"></i></button>
                            </div>
                            <div class="tj-header-bottom-mobile-button d-block d-xl-none">
                                <button class="tj-header-bottom-mobile-btn menu-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                            <div class="tj-header-bottom-button d-none d-xl-block">
                                <a class="tj-header-btn tj-arrow-btn" href="/contact">Get a quote 
                                    <span class="icon_box">
                                        <i class="icon_first fa-regular fa-arrow-right"></i>
                                        <i class="icon_second fa-regular fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End-->

<!-- Sticky Header Area Start -->
<header class="tj-header-sticky header-sticky d-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="tj-header-bottom-wrapper">
                    <div class="tj-header-sticky-mobile-logo">
                        <a href="/home">
                            <img src="assets/images/logo/SUF - Landscape Logo - Black.png" alt="Logos">
                        </a>
                    </div>
                    <div class="tj-header-bottom-left d-none d-xl-block">
                        <div class="mainmenu-wrapper">
                            <div class="mainmenu-box">
                                <div class="mainmenu mainmenu-sticky d-none d-lg-inline-block">
                                    <ul>
                                        <li class="current-menu-ancestor">
                                            <a href="/home">Home</a>
                                        </li>
                                        <li class="has-dropdown {{currentRoute === '/services' || currentRoute === '/service-details' ? 'current-menu-ancestor' : ''}}">
                                            <a href="javascript:void(0)">Services</a>
                                            <ul class="sub-menu">
                                                <li class="{{currentRoute === '/services' ? 'current-menu-item' : ''}}"><a href="/services">Services</a></li>
                                                <li class="{{currentRoute === '/service-details' ? 'current-menu-item' : ''}}"><a href="/service-details">Services Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown {{currentRoute === '/portfolio' || currentRoute === '/portfolio-details' ? 'current-menu-ancestor' : ''}}">
                                            <a href="javascript:void(0)">Portfolio</a>
                                            <ul class="sub-menu">
                                                <li class="{{currentRoute === '/portfolio' ? 'current-menu-item' : ''}}"><a href="/portfolio">Portfolio</a></li>
                                                <li class="{{currentRoute === '/portfolio-details' ? 'current-menu-item' : ''}}"><a href="/portfolio-details">Portfolio Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown {{currentRoute === '/about' || currentRoute === '/teams' || currentRoute === '/team-details' ? 'current-menu-ancestor' : ''}}">
                                            <a href="javascript:void(0)">Pages</a>
                                            <ul class="sub-menu">
                                                <li class="{{currentRoute === '/about' ? 'current-menu-item' : ''}}"><a href="/about">About</a></li>
                                                <li class="{{currentRoute === '/teams' ? 'current-menu-item' : ''}}"><a href="/teams">Team</a></li>
                                                <li class="{{currentRoute === '/team-details' ? 'current-menu-item' : ''}}"><a href="/team-details">Team Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown {{currentRoute === '/blog-grid' || currentRoute === '/blog-stander' || currentRoute === '/blog-details' ? 'current-menu-ancestor' : ''}}">
                                            <a href="javascript:void(0)">News</a>
                                            <ul class="sub-menu">
                                                <li class="{{currentRoute === '/blog-grid' ? 'current-menu-item' : ''}}"><a href="/blog-grid">Blog Grid</a></li>
                                                <li class="{{currentRoute === '/blog-stander' ? 'current-menu-item' : ''}}"><a href="/blog-stander">Blog Stander</a></li>
                                                <li class="{{currentRoute === '/blog-details' ? 'current-menu-item' : ''}}"><a href="/blog-details">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tj-header-bottom-right">
                        <div class="tj-header-bottom-search d-none d-xl-block">
                            <button class="tj-header-search tj-search-popup"><i class="fa-regular fa-magnifying-glass"></i></button>
                        </div>
                        <div class="tj-header-bottom-cart d-none d-sm-block">
                            <button class="tj-header-cart cartmini-open-btn"><i class="fa-regular fa-cart-shopping"></i></button>
                        </div>
                        <div class="tj-header-bottom-mobile-button d-block d-xl-none">
                            <button class="tj-header-bottom-mobile-btn menu-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <div class="tj-header-sticky-button d-none d-md-block">
                            <a class="tj-primary-btn tj-hover-btn" href="/contact"><span>Get a quote <i class="flaticon-start"></i></span>
                                <div class="tj-hover-btn-circle-dot"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Sticky Header Area End -->