<!-- Before-After Area Start-->
<section class="tj-before-after-area">
    <div class="tj-before-after-bg" data-background="assets/images/before-after/before-after-bg.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper text-center">
                    <h5 class="tj-section-subtitle wow fadeInRight" data-wow-delay=".3s"><span class="one"><i class="flaticon-start"></i></span> Before & after <span class="two"><i class="flaticon-start"></i></span> </h5>
                    <h2 class="tj-section-title wow fadeInUp" data-wow-delay=".4s">Recent Completed Projects</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tj-before-after-wrapper wow fadeInUp" data-wow-delay=".5s">
                    <img src="assets/images/before-after/before-after-1.png" alt="">
                    <img src="assets/images/before-after/before-after-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Before-After Area End-->