
<div class="body-overlay"></div>

<!-- Loader Start -->
<app-loader-wrapper></app-loader-wrapper>
<!-- Loader End -->

<!-- back to top start -->
<app-back-to-top-wrapper></app-back-to-top-wrapper>
<!-- back to top end -->

<!-- search popup start -->
<app-search-popup></app-search-popup>
<!-- search popup end -->

<!-- cart mini start -->
<app-cart-mini></app-cart-mini>
<!-- cart mini end -->

<!-- hamburger start -->
<app-hamburger></app-hamburger>
<!-- hamburger end -->

<!-- Header -->
<app-header *ngIf="!isHeaderSecond"></app-header>
<app-header-second *ngIf="isHeaderSecond"></app-header-second>

<main id="primary" class="site-main">
    <router-outlet></router-outlet>
</main>

<!-- Footer -->
<app-footer></app-footer>