<!-- Service Area Start-->
<section class="tj-service-area" data-background="assets/images/service/service-bg.jpg">
    <div class="tj-service-bg-top-shape">
        <img class="tj-service-bg-top-shape-1" src="assets/images/service/service-main-bg-shape.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper text-center">
                    <h5 class="tj-section-subtitle wow fadeInRight" data-wow-delay=".3s"><span class="one"><i class="flaticon-start"></i></span> Services <span class="two"><i class="flaticon-start"></i></span> </h5>
                    <h2 class="tj-section-title wow fadeInUp" data-wow-delay=".4s">We Provide Service For You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="service__tab  wow fadeInUp" data-wow-delay=".3s">
                    <li class="service-filter-btn" id="ser-1">
                        <div class="tj-service-wrapper text-center">
                            <div class="tj-service-icon">
                                <span><i class="flaticon-carpet"></i></span>
                            </div>
                            <div class="tj-service-content">
                                <h5 class="tj-service-title">Carpet & Upholstery Cleaning</h5>
                            </div>
                        </div>
                    </li>
                    <li class="service-filter-btn active" id="ser-2">
                        <div class="tj-service-wrapper text-center">
                            <div class="tj-service-icon">
                                <span><i class="flaticon-cleaning"></i></span>
                            </div>
                            <div class="tj-service-content">
                                <h5 class="tj-service-title">Regular Domestic
                                    Cleaning</h5>
                            </div>
                        </div>
                    </li>
                    <li class="service-filter-btn" id="ser-3">
                        <div class="tj-service-wrapper text-center">
                            <div class="tj-service-icon">
                                <span><i class="flaticon-window-cleaning"></i></span>
                            </div>
                            <div class="tj-service-content">
                                <h5 class="tj-service-title">Window Washing Wizards</h5>
                            </div>
                        </div>
                    </li>
                    <li class="service-filter-btn" id="ser-4">
                        <div class="tj-service-wrapper text-center">
                            <div class="tj-service-icon">
                                <span><i class="flaticon-office"></i></span>
                            </div>
                            <div class="tj-service-content">
                                <h5 class="tj-service-title">After Building Cleaning</h5>
                            </div>
                        </div>
                    </li>
                    <li class="service-filter-btn" id="ser-5">
                        <div class="tj-service-wrapper text-center">
                            <div class="tj-service-icon">
                                <span><i class="flaticon-brush"></i></span>
                            </div>
                            <div class="tj-service-content">
                                <h5 class="tj-service-title">Post-Construction Cleaning</h5>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="tab-item-widget wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <div class="single-service ser-1">
                        <div class="row gx-0 tj-service-bottom-row">
                            <div class="tj-service-bottom-bg-shape">
                                <img src="assets/images/service/service-bottom-bg-shape.png" alt="">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-wrapper text-center">
                                    <h4 class="tj-service-bottom-title">Carpet & Upholstery Cleaning</h4>
                                    <p class="tj-service-bottom-paragraph">Recover 100% of your rental deposit with our letting agents
                                        approves checklist We supply all materials equipment with free oven clean included & 72 Guarantee</p>
                                    <div class="tj-service-bottom-amount">
                                        <h3 class="tj-service-bottom-amount-title"> <span>$</span>200</h3>
                                        <p class="tj-service-bottom-amount-paragraph">From start</p>
                                    </div>
                                    <div class="tj-service-btn">
                                        <a class="tj-secondary-btn tj-hover-btn" href="contact.html"><span>Read more <i class="flaticon-start"></i></span>
                                            <div class="tj-hover-btn-circle-dot"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-thumb">
                                    <img src="assets/images/service/service-bottom-thumb.jpg" alt="">
                                    <div class="tj-service-bottom-thumb-shape">
                                        <img class="tj-service-bottom-thumb-shape-2" src="assets/images/service/service-bottom-thum-shape2.png" alt="">
                                        <img class="tj-service-bottom-thumb-shape-3" src="assets/images/service/service-bottom-thum-shape3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-service ser-2 active">
                        <div class="row gx-0 tj-service-bottom-row">
                            <div class="tj-service-bottom-bg-shape">
                                <img src="assets/images/service/service-bottom-bg-shape.png" alt="">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-wrapper text-center">
                                    <h4 class="tj-service-bottom-title">Carpet & Upholstery Cleaning</h4>
                                    <p class="tj-service-bottom-paragraph">Recover 100% of your rental deposit with our letting agents
                                        approves checklist We supply all materials equipment with free oven clean included & 72 Guarantee</p>
                                    <div class="tj-service-bottom-amount">
                                        <h3 class="tj-service-bottom-amount-title"><span>$</span>300</h3>
                                        <p class="tj-service-bottom-amount-paragraph">From start</p>
                                    </div>
                                    <div class="tj-service-btn">
                                        <a class="tj-secondary-btn tj-hover-btn" href="contact.html"><span>Read more <i class="flaticon-start"></i></span>
                                            <div class="tj-hover-btn-circle-dot"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-thumb">
                                    <img src="assets/images/service/service-bottom-thumb2.jpg" alt="">
                                    <div class="tj-service-bottom-thumb-shape">
                                        <img class="tj-service-bottom-thumb-shape-2" src="assets/images/service/service-bottom-thum-shape2.png" alt="">
                                        <img class="tj-service-bottom-thumb-shape-3" src="assets/images/service/service-bottom-thum-shape3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-service ser-3">
                        <div class="row gx-0 tj-service-bottom-row">
                            <div class="tj-service-bottom-bg-shape">
                                <img src="assets/images/service/service-bottom-bg-shape.png" alt="">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-wrapper text-center">
                                    <h4 class="tj-service-bottom-title">Carpet & Upholstery Cleaning</h4>
                                    <p class="tj-service-bottom-paragraph">Recover 100% of your rental deposit with our letting agents
                                        approves checklist We supply all materials equipment with free oven clean included & 72 Guarantee</p>
                                    <div class="tj-service-bottom-amount">
                                        <h3 class="tj-service-bottom-amount-title"><span>$</span>400</h3>
                                        <p class="tj-service-bottom-amount-paragraph">From start</p>
                                    </div>
                                    <div class="tj-service-btn">
                                        <a class="tj-secondary-btn tj-hover-btn" href="contact.html"><span>Read more <i class="flaticon-start"></i></span>
                                            <div class="tj-hover-btn-circle-dot"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-thumb">
                                    <img src="assets/images/service/service-bottom-thumb3.png" alt="">
                                    <div class="tj-service-bottom-thumb-shape">
                                        <img class="tj-service-bottom-thumb-shape-2" src="assets/images/service/service-bottom-thum-shape2.png" alt="">
                                        <img class="tj-service-bottom-thumb-shape-3" src="assets/images/service/service-bottom-thum-shape3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-service ser-4">
                        <div class="row gx-0 tj-service-bottom-row">
                            <div class="tj-service-bottom-bg-shape">
                                <img src="assets/images/service/service-bottom-bg-shape.png" alt="">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-wrapper text-center">
                                    <h4 class="tj-service-bottom-title">Carpet & Upholstery Cleaning</h4>
                                    <p class="tj-service-bottom-paragraph">Recover 100% of your rental deposit with our letting agents
                                        approves checklist We supply all materials equipment with free oven clean included & 72 Guarantee</p>
                                    <div class="tj-service-bottom-amount">
                                        <h3 class="tj-service-bottom-amount-title"><span>$</span>500</h3>
                                        <p class="tj-service-bottom-amount-paragraph">From start</p>
                                    </div>
                                    <div class="tj-service-btn">
                                        <a class="tj-secondary-btn tj-hover-btn" href="contact.html"><span>Read more <i class="flaticon-start"></i></span>
                                            <div class="tj-hover-btn-circle-dot"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-thumb">
                                    <img src="assets/images/service/service-bottom-thumb4.jpg" alt="">
                                    <div class="tj-service-bottom-thumb-shape">
                                        <img class="tj-service-bottom-thumb-shape-2" src="assets/images/service/service-bottom-thum-shape2.png" alt="">
                                        <img class="tj-service-bottom-thumb-shape-3" src="assets/images/service/service-bottom-thum-shape3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-service ser-5">
                        <div class="row gx-0 tj-service-bottom-row">
                            <div class="tj-service-bottom-bg-shape">
                                <img src="assets/images/service/service-bottom-bg-shape.png" alt="">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-wrapper text-center">
                                    <h4 class="tj-service-bottom-title">Carpet & Upholstery Cleaning</h4>
                                    <p class="tj-service-bottom-paragraph">Recover 100% of your rental deposit with our letting agents
                                        approves checklist We supply all materials equipment with free oven clean included & 72 Guarantee</p>
                                    <div class="tj-service-bottom-amount">
                                        <h3 class="tj-service-bottom-amount-title"><span>$</span>600</h3>
                                        <p class="tj-service-bottom-amount-paragraph">From start</p>
                                    </div>
                                    <div class="tj-service-btn">
                                        <a class="tj-secondary-btn tj-hover-btn" href="contact.html"><span>Read more <i class="flaticon-start"></i></span>
                                            <div class="tj-hover-btn-circle-dot"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tj-service-bottom-thumb">
                                    <img src="assets/images/service/service-bottom-thumb5.jpg" alt="">
                                    <div class="tj-service-bottom-thumb-shape">
                                        <img class="tj-service-bottom-thumb-shape-2" src="assets/images/service/service-bottom-thum-shape2.png" alt="">
                                        <img class="tj-service-bottom-thumb-shape-3" src="assets/images/service/service-bottom-thum-shape3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Area End-->