<!-- Hamburger start -->
<div class="hamburger-area d-xl-none">
    <div class="hamburger_bg"></div>
    <div class="hamburger_wrapper">
        <div class="hamburger_top d-flex align-items-center justify-content-between">
            <div class="hamburger_logo">
                <a href="index.html" class="mobile_logo">
                    <img src="assets/images/logo/SUF - Landscape Logo - Gray.png" alt="Logo">
                </a>
            </div>
            <div class="hamburger_close">
                <button class="hamburger_close_btn"><i class="fa-thin fa-times"></i></button>
            </div>
        </div>
        <div class="hamburger_search">
            <form method="get" action="index.html">
                <button type="submit"><i class="fal fa-search"></i></button>
                <input type="search" autocomplete="off" name="s" value="" placeholder="Search here">
            </form>
        </div>
        <div class="hamburger_menu">
            <div class="mobile_menu"></div>
        </div>
        <div class="hamburger-infos">
            <h4 class="hamburger-title">Contact info</h4>
            <div class="contact-item">
                <div class="contact-icon">
                    <span><i class="flaticon-email-2"></i></span>
                </div>
                <div class="contact-text">
                    <span>E-mail Us:</span>
                    <div class="text"><a class="link" href="mailto:mail&#64;pipex.com">mail&#64;pipex.com</a></div>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-icon">
                    <span><i class="flaticon-call"></i></span>
                </div>
                <div class="contact-text">
                    <span>Requesting A Call</span>
                    <div class="text"><a class="link" href="tel:000123456789">(000) 123 456 789</a></div>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-icon">
                    <span><i class="flaticon-location"></i></span>
                </div>
                <div class="contact-text">
                    <span>Location Here</span>
                    <div class="text">Santa, United State</div>
                </div>
            </div>
        </div>
        <div class="hamburger-socials">
            <ul>
                <li>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Hamburger end -->