<!-- Testimonial Area Start-->
<section class="tj-testimonial-area" data-background="assets/images/testimonial/testimonial-bg.jpg">
    <div class="tj-testimonial-bg-shape">
        <img class="tj-testimonial-bg-shape-1" src="assets/images/testimonial/testimonial-bg-shape.png" alt="">
        <img class="tj-testimonial-bg-shape-2" src="assets/images/testimonial/testimonial-bg-overlay-shape.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper text-center">
                    <h5 class="tj-section-subtitle wow fadeInRight" data-wow-delay=".3s"><span class="one"><i class="flaticon-start"></i></span> Testimonial <span class="two"><i class="flaticon-start"></i></span> </h5>
                    <h2 class="tj-section-title wow fadeInUp" data-wow-delay=".4s">What our clients say
                        About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="tj-testimonial-slider wow fadeInUp" data-wow-delay=".5s">
                    <div class="tj-testimonial-active swiper-container">
                        <div class="swiper-wrapper">

                            <!-- slide 1 -->
                            <div *ngFor="let item of dataHomePage?.testimonials" class="tj-testimonial-wrapper swiper-slide">
                                <div class="tj-testimonial-top">
                                    <div class="tj-testimonial-top-member-details">
                                        <div class="tj-testimonial-top-member-img">
                                            <img [src]="environment.site_url + item.avatar?.url" alt="">
                                        </div>
                                        <div class="tj-testimonial-top-member-content">
                                            <div class="testimonial-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 88%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                                </div>
                                            <h4 class="tj-testimonial-top-member-title">{{ item.name }}</h4>
                                            <p class="tj-testimonial-top-member-paragraph">{{ item.job_name }}</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-top-quate-icon">
                                        <span><i class="flaticon-right-quotation-mark"></i></span>
                                    </div>
                                </div>
                                <div class="tj-testimonial-bottom">
                                    <p class="tj-testimonial-bottom-paragraph">{{ item.comment }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tj-testimonial-slide-dot text-center"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area End-->