<!-- Breadcrumb Area Start-->
<section class="tj-breadcrumb-area" [style.background-image]="'url(assets/images/breadcrumb/breadcrumb-bg.jpg)'">
    <div class="container">
        <div class="row">
            <div class="tj-breadcrumb-content text-center">
                <h2 class="tj-breadcrumb-title">Blog Stander</h2>
                <p class="tj-breadcrumb-body"><span><a href="index.html">Home</a></span> <span class="spacing"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1639 8.42265C16.4818 8.74057 16.4818 9.25948 16.1639 9.57739L9.93661 15.8045C9.6182 16.1229 9.10024 16.1229 8.78187 15.8045L8.43354 15.4562C8.11485 15.1375 8.11478 14.6198 8.4335 14.301L13.1574 9.57753C13.4762 9.25884 13.4762 8.74106 13.1574 8.42237L8.43354 3.69885C8.11478 3.38012 8.11481 2.86248 8.43357 2.54375L8.7819 2.19542C9.09982 1.87751 9.61872 1.87751 9.93664 2.19542L16.1639 8.42265ZM3.34094 2.19535C3.02271 1.87708 2.50426 1.87712 2.18602 2.19535L1.8377 2.54368C1.5196 2.86178 1.51957 3.38068 1.8377 3.69881L6.5614 8.42237C6.88012 8.7411 6.88012 9.25881 6.5614 9.57753L1.83766 14.3011C1.51943 14.6193 1.51946 15.138 1.83766 15.4562L2.18599 15.8045C2.50436 16.1229 3.02253 16.1229 3.34091 15.8045L9.01506 10.1302C10.6067 11.7203 10.2041 11.317 9.01622 10.129L9.56782 9.57739C9.88595 9.25926 9.88591 8.74074 9.56782 8.42262L3.34094 2.19535Z" fill="white" />
                  </svg></span> Blog Stander</p>
            </div>
        </div>
    </div>
    <div class="tj-breadcrumb-bg-shape">
        <img src="assets/images/breadcrumb/breadcrumb-bg-shape.png" alt="">
    </div>
</section>
<!-- Breadcrumb Area End-->

<!-- Blog Area Start-->
<section class="full-width tj-posts__area tj-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <div class="tj-post__container tj-post-wrapper">
                    <article class="tj__post tj-post-item wow fadeInUp" data-wow-delay=".3s">
                        <div class="blog-thumb-image">
                            <a href="blog-details.html">
                                <img src="assets/images/blog/blog-stander-1.jpg" class="img-responsive wp-post-image" alt="">
                            </a>
                        </div>
                        <div class="tj-post__content">
                            <div class="tj-post__meta entry-meta blog-meta">
                                <span><i class="flaticon-calendar"></i>Feb 10 2024</span>
                                <span><i class="flaticon-user"></i> By<a href="#"> Admin</a></span>
                                <span><i class="flaticon-comment"></i><a href="#">Comments (09)</a></span>
                            </div>
                            <div class="details-title">
                                <h3 class="tj-post__title entry-title title"><a href="blog-details.html">Elevating Cleanliness, One Room at a Time</a></h3>
                            </div>
                            <div class="post_excerpt">
                                It's completely up to you. Many of our clients prefer to be away while we clean, allowing them to return to a beautifully cleaned home. However, if you prefer to be present, that's perfectly fine too. Cleaning large industrial spaces such as factories, warehouses, and plants, often requiring specialized equipment and procedures.
                            </div>
                            <div class="tj-post__btn blog-button d-flex">
                                <a class="tj-primary-btn tj-hover-btn" href="blog-details.html">Read More <span><i class="fa-light fa-arrow-right"></i></span>
                                    <div class="tj-hover-btn-circle-dot"></div>
                                </a>
                            </div>
                        </div>
                        <div class="tj-clearfix"></div>
                    </article>
                    <article class="tj__post tj-post-item wow fadeInUp" data-wow-delay=".4s">
                        <div class="blog-thumb-image">
                            <img src="assets/images/blog/blog-stander-2.jpg" class="img-responsive wp-post-image" alt="">
                            <div class="video-play">
                                <a class="popup-videos-button" href="https://www.youtube.com/watch?v=E1xkXZs0cAQ">
                                  <i class="fa-light fa-circle-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="tj-post__content">
                            <div class="tj-post__meta entry-meta blog-meta">
                                <span><i class="flaticon-calendar"></i>Feb 10 2024</span>
                                <span><i class="flaticon-user"></i> By<a href="#"> Admin</a></span>
                                <span><i class="flaticon-comment"></i><a href="#">Comments (09)</a></span>
                            </div>
                            <div class="details-title">
                                <h3 class="tj-post__title entry-title title"><a href="blog-details.html">Expect during my first cleaning appointment</a></h3>
                            </div>
                            <div class="post_excerpt">
                                During your first cleaning, our team will thoroughly clean your home, paying extra attention to areas that need it most. We will also assess any specific needs you may have. Your satisfaction is our top priority. If you're not completely happy with the service, please let us know
                            </div>
                            <div class="tj-post__btn blog-button d-flex">
                                <a class="tj-primary-btn tj-hover-btn" href="blog-details.html">Read More <span><i class="fa-light fa-arrow-right"></i></span>
                                    <div class="tj-hover-btn-circle-dot"></div>
                                </a>
                            </div>
                        </div>
                        <div class="tj-clearfix"></div>
                    </article>
                    <article class="tj__post tj-post-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="swiper-container tj-post-item-slide-active">
                            <div class="swiper-wrapper">
                                <div class="blog-thumb-image swiper-slide">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-stander-3.jpg" class="img-responsive wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="blog-thumb-image swiper-slide">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-stander-1.jpg" class="img-responsive wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="blog-thumb-image swiper-slide">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-stander-2.jpg" class="img-responsive wp-post-image" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="tj-post-navigation">
                                <button class="swiper-button-next"></button>
                                <button class="swiper-button-prev"></button>
                            </div>
                        </div>
                        <div class="tj-post__content">
                            <div class="tj-post__meta entry-meta blog-meta">
                                <span><i class="flaticon-calendar"></i>Feb 10 2024</span>
                                <span><i class="flaticon-user"></i> By<a href="#"> Admin</a></span>
                                <span><i class="flaticon-comment"></i><a href="#">Comments (09)</a></span>
                            </div>
                            <div class="details-title">
                                <h3 class="tj-post__title entry-title title"><a href="blog-details.html">Cleaning supplies or should I have them on hand</a></h3>
                            </div>
                            <div class="post_excerpt">
                                We offer a range of specialized cleaning services tailored to meet various needs, including move-in/out cleaning, post-construction cleanup, and more. Contact us to discuss your specific requirements. The frequency of cleaning kinds depends on factors such as the size of your space, foot traffic, and personal preference.
                            </div>
                            <div class="tj-post__btn blog-button d-flex">
                                <a class="tj-primary-btn tj-hover-btn" href="blog-details.html">Read More <span><i class="fa-light fa-arrow-right"></i></span>
                                    <div class="tj-hover-btn-circle-dot"></div>
                                </a>
                            </div>
                        </div>
                        <div class="tj-clearfix"></div>
                    </article>
                    <div class="tj__pagination wow fadeInUp" data-wow-delay=".6s">
                        <ul>
                            <li><span class="page-numbers current">01</span></li>
                            <li><a class="page-numbers" href="#">02</a></li>
                            <li><a class="page-numbers" href="#">03</a></li>
                            <li><a class="page-numbers" href="#">04</a></li>
                            <li><a class="next page-numbers" href="#"><i class="far fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="tj-main__sidebar tj-main-sidebar wow fadeInUp" data-wow-delay=".5s">
                    <div class="tj-sidebar__widget tj-blog-widget widget_search wow fadeInUp" data-wow-delay=".6s">
                        <div class="tj-widget__search sidebar-search">
                            <form action="#">
                                <input type="text" value="" required="" name="s" placeholder="Search...">
                                <button type="submit"> <i class="fa-regular fa-magnifying-glass"></i> </button>
                            </form>
                        </div>
                    </div>
                    <div class="tj-sidebar__widget widget_categories stander wow fadeInUp" data-wow-delay=".7s">
                        <h3 class="widget_categories-title">Categories</h3>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        Home Cleaning
                                        <span>(5)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Indoor Cleaning
                                        <span>(4)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Plumbing Cleaning
                                        <span>(3)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Bathroom Cleaning
                                        <span>(2)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Outdoor Cleaning
                                        <span>(1)</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div id="tj-recent-posts-2" class="tj-sidebar__widget tj-blog-widget tj_recent_posts wow fadeInUp" data-wow-delay=".8s">
                        <h3 class="tj-sidebar-widget__title side-title"> Recent Posts </h3>
                        <div class="sidebar-recent-post">
                            <div class="single-post d-flex">
                                <div class="post-image">
                                    <a href="#">
                                        <img class="attachment-thumbnail size-thumbnail wp-post-image" src="assets/images/blog/recent-post-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <span class="sub-title"><i class="flaticon-calendar"></i>Feb 10 2024</span>
                                    <h5 class="title-link">
                                        <a href="#">Bringing Cleanliness to Your Doorstep</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="single-post d-flex">
                                <div class="post-image">
                                    <a href="#">
                                        <img class="attachment-thumbnail size-thumbnail wp-post-image" src="assets/images/blog/recent-post-2.jpg" alt="">
                                    </a>
                                </div>

                                <div class="post-content">
                                    <span class="sub-title"><i class="flaticon-calendar"></i> Feb 10 2024</span>
                                    <h5 class="title-link">
                                        <a href="#">Cleaning services  specific needs or occasions</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="single-post d-flex">
                                <div class="post-image">
                                    <a href="#">
                                        <img class="attachment-thumbnail size-thumbnail wp-post-image" src="assets/images/blog/recent-post-3.jpg" alt="">
                                    </a>
                                </div>

                                <div class="post-content">
                                    <span class="sub-title"><i class="flaticon-calendar"></i>Feb 10 2024 </span>
                                    <h5 class="title-link">
                                        <a href="#">Your trusted plumbing partner always</a>
                                    </h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="tag_cloud-2" class="tj-sidebar__widget tj-blog-widget widget_tag_cloud wow fadeInUp" data-wow-delay=".9s">
                        <h3 class="tj-sidebar-widget__title side-title">Popular Tages</h3>
                        <nav aria-label="Popular Tages">
                            <div class="tagcloud"><a href="#" class="tag-cloud-link tag-link-13 tag-link-position-1">Business</a>
                                <a href="#" class="tag-cloud-link tag-link-15 tag-link-position-3">Cleaner</a>
                                <a href="#" class="tag-cloud-link tag-link-16 tag-link-position-4">Plumbing</a>
                                <a href="#" class="tag-cloud-link tag-link-17 tag-link-position-5">Office Cleaning</a>
                                <a href="#" class="tag-cloud-link tag-link-18 tag-link-position-6">Agency</a>
                                <a href="#" class="tag-cloud-link tag-link-18 tag-link-position-6">Services</a>
                                <a href="#" class="tag-cloud-link tag-link-18 tag-link-position-6">Kitchen Cleaning</a>
                            </div>
                        </nav>
                    </div>
                </aside>
            </div>
            <!--!sidebar -->
        </div>
    </div>
</section>
<!-- Blog Area End-->