<!-- Portfolio Area End-->
<section class="tj-portfolio-area">
    <div class="tj-portfolio-bg-shape">
        <img class="tj-portfolio-bg-shape-1" src="assets/images/portfolio/portfolio-bg-shape-1.png" alt="">
        <img class="tj-portfolio-bg-shape-2" src="assets/images/portfolio/portfolio-bg-shape-2.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper">
                    <div class="sec-text wow fadeInLeft" data-wow-delay=".3s">
                        <h5 class="tj-section-subtitle"><span class="one"><i class="flaticon-start"></i></span> our portfolio </h5>
                        <h2 class="tj-section-title">Our Impressive Case Studies</h2>
                    </div>
                    <div class="tj-portfolio-top-button wow fadeInRight d-none d-lg-inline-block" data-wow-delay=".3s">
                        <a class="tj-round-btn" href="contact.html">View more <i class="fa-regular fa-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="tj-portfolio-slider wow fadeInUp" data-wow-delay=".4s">
                    <div class="tj-portfolio-active swiper-container">
                        <div class="swiper-wrapper">
                            <div *ngFor="let item of dataHomePage?.portfolio" class="tj-portfolio-wrapper swiper-slide">
                                <div class="tj-portfolio-thumb">
                                    <img [src]="environment.site_url + item.image?.url" alt="Images">
                                    <div class="tj-portfolio-wrap">
                                        <div class="tj-portfolio-content">
                                            <h4 class="tj-portfolio-title"><a href="portfolio-details.html">{{ item.title_paragraph_1 }}</a></h4>
                                            <p class="tj-portfolio-paragraph">{{ item.location }}</p>
                                        </div>
                                        <div class="tj-portfolio-pluse-button">
                                            <a class="tj-portfolio-pluse-btn" href="portfolio-details.html"><i class="fa-solid fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="tj-portfolio-wrapper swiper-slide">
                                <div class="tj-portfolio-thumb">
                                    <img src="assets/images/portfolio/portfolio-img-2.jpg" alt="Images">
                                    <div class="tj-portfolio-wrap">
                                        <div class="tj-portfolio-content">
                                            <h4 class="tj-portfolio-title"><a href="portfolio-details.html">Specialized Cleaning</a></h4>
                                            <p class="tj-portfolio-paragraph">Saint, UAS</p>
                                        </div>
                                        <div class="tj-portfolio-pluse-button">
                                            <a class="tj-portfolio-pluse-btn" href="portfolio-details.html"><i class="fa-solid fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tj-portfolio-wrapper swiper-slide">
                                <div class="tj-portfolio-thumb">
                                    <img src="assets/images/portfolio/portfolio-img-3.jpg" alt="Images">
                                    <div class="tj-portfolio-wrap">
                                        <div class="tj-portfolio-content">
                                            <h4 class="tj-portfolio-title"><a href="portfolio-details.html">Specialized Cleaning</a></h4>
                                            <p class="tj-portfolio-paragraph">Saint, UAS</p>
                                        </div>
                                        <div class="tj-portfolio-pluse-button">
                                            <a class="tj-portfolio-pluse-btn" href="portfolio-details.html"><i class="fa-solid fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tj-portfolio-slide-dot d-none d-lg-inline-block text-center"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Area End-->