<!-- Pricing Area Start-->
<section class="tj-pricing-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper text-center">
                    <h5 class="tj-section-subtitle wow fadeInRight" data-wow-delay=".3s"><span class="one"><i class="flaticon-start"></i></span> Pricing plan <span class="two"><i class="flaticon-start"></i></span> </h5>
                    <h2 class="tj-section-title wow fadeInUp" data-wow-delay=".4s">Choose your Pricing Plan</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tj-pricing-wrapper wow fadeInUp" data-wow-delay=".5s">
                    <div class="tj-pricing-price text-center">
                        <h5 class="tj-pricing-price-subtitle">Basic Plan</h5>
                        <h2 class="tj-pricing-price-title"><span>$</span>15.22</h2>
                    </div>
                    <div class="tj-pricing-icon">
                        <span><i class="flaticon-label"></i></span>
                    </div>
                    <div class="tj-pricing-bottom">
                        <div class="tj-pricing-list">
                            <ul>
                                <li><span><i class="flaticon-start"></i></span> Commercial Cleaning</li>
                                <li><span><i class="flaticon-start"></i></span> House Cleaning</li>
                                <li><span><i class="flaticon-start"></i></span> Plumbing Service</li>
                                <li><span><i class="flaticon-start"></i></span> Kitchen Cleaning</li>
                                <li class="inactive"><span><i class="flaticon-start"></i></span> Outdoor Service</li>
                                <li class="inactive"><span><i class="flaticon-start"></i></span> Construction Cleanup</li>
                            </ul>
                        </div>
                        <div class="tj-pricing-button">
                            <a class="tj-square-btn tj-hover-btn" href="contact.html">Choose Plan
                                <div class="tj-hover-btn-circle-dot"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tj-pricing-wrapper active wow fadeInUp" data-wow-delay=".6s">
                    <div class="tj-pricing-price text-center">
                        <h5 class="tj-pricing-price-subtitle">Stander Plan</h5>
                        <h2 class="tj-pricing-price-title"><span>$</span>20.30</h2>
                    </div>
                    <div class="tj-pricing-icon">
                        <span><i class="flaticon-label"></i></span>
                    </div>
                    <div class="tj-pricing-bottom">
                        <div class="tj-pricing-list">
                            <ul>
                                <li><span><i class="flaticon-start"></i></span> Commercial Cleaning</li>
                                <li><span><i class="flaticon-start"></i></span> House Cleaning</li>
                                <li><span><i class="flaticon-start"></i></span> Plumbing Service</li>
                                <li><span><i class="flaticon-start"></i></span> Kitchen Cleaning</li>
                                <li><span><i class="flaticon-start"></i></span> Outdoor Service</li>
                                <li class="inactive"><span><i class="flaticon-start"></i></span> Construction Cleanup</li>
                            </ul>
                        </div>
                        <div class="tj-pricing-button">
                            <a class="tj-square-btn active tj-hover-btn" href="contact.html">Choose Plan
                                <div class="tj-hover-btn-circle-dot"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tj-pricing-wrapper wow fadeInUp" data-wow-delay=".7s">
                    <div class="tj-pricing-price text-center">
                        <h5 class="tj-pricing-price-subtitle">Premium Plan</h5>
                        <h2 class="tj-pricing-price-title"><span>$</span>30.22</h2>
                    </div>
                    <div class="tj-pricing-icon">
                        <span><i class="flaticon-label"></i></span>
                    </div>
                    <div class="tj-pricing-bottom">
                        <div class="tj-pricing-list">
                            <ul>
                                <li><span><i class="flaticon-start"></i></span> Commercial Cleaning</li>
                                <li><span><i class="flaticon-start"></i></span> House Cleaning</li>
                                <li><span><i class="flaticon-start"></i></span> Plumbing Service</li>
                                <li><span><i class="flaticon-start"></i></span> Kitchen Cleaning</li>
                                <li><span><i class="flaticon-start"></i></span> Outdoor Service</li>
                                <li><span><i class="flaticon-start"></i></span> Construction Cleanup</li>
                            </ul>
                        </div>
                        <div class="tj-pricing-button">
                            <a class="tj-square-btn tj-hover-btn" href="contact.html">Choose Plan
                                <div class="tj-hover-btn-circle-dot"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Area End-->