<!-- Team Area Start-->
<section class="tj-team-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper">
                    <div class="sec-text wow fadeInLeft" data-wow-delay=".3s">
                        <h5 class="tj-section-subtitle">
                        <span class="one"><i class="flaticon-start"></i></span> Our team Member</h5>
                        <h2 class="tj-section-title">Our Professional Expert Team</h2>
                    </div>
                    <div class="tj-team-top-button wow fadeInRight d-none d-lg-inline-block" data-wow-delay=".3s">
                        <a class="tj-round-btn" href="contact.html">View All member <i class="fa-regular fa-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div *ngFor="let item of dataHomePage?.team" class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="tj-team-wrapper wow fadeInUp" data-wow-delay=".4s">
                    <div class="tj-team-thumb">
                        <a href=""><img [src]="environment.site_url + item.avatar?.url" alt=""></a>
                    </div>
                    <div class="tj-team-social">
                        <div class="tj-team-btn">
                            <button><i class="flaticon-share"></i></button>
                        </div>
                        <div class="tj-team-icon">
                            <a href="{{ item.url_facebook }}" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="{{ item.url_x }}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a href="{{ item.url_linkedin }}" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="{{ item.url_vimeo }}" target="_blank"><i class="fa-brands fa-vimeo-v"></i></a>
                        </div>
                    </div>
                    <div class="tj-team-content">
                        <h4 class="tj-team-title"><a href="team-details.html">{{ item.name }}</a></h4>
                        <p class="tj-team-paragraph">{{ item.role_name }}</p>
                        <div class="tj-team-button">
                            <a class="tj-team-call-btn" href="tel:{{ item.phone }}"><i class="fa-solid fa-phone-volume"></i> {{ item.phone }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj-team-top-button d-lg-none wow fadeInUp" data-wow-delay=".8s">
                <a class="tj-round-btn" href="contact.html">View All member <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Team Area End-->