<!-- Choose-us Area Start-->
<section class="tj-choose-us-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper">
                    <div class="sec-text wow fadeInLeft" data-wow-delay=".3s">
                        <h5 class="tj-section-subtitle"><span class="one"><i class="flaticon-start"></i></span> why choose us</h5>
                        <h2 class="tj-section-title">Transforming spaces one swipe at a time</h2>
                    </div>
                    <div class="desc wow fadeInRight" data-wow-delay=".3s">
                        <p>This type of service is geared towards businesses, offices and commercial properties. It involves cleaning larger any spaces, including office high-traffic areas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 gx-0">
                <div class="tj-choose-us-wrapper wow fadeInUp" data-wow-delay=".4s">
                    <div class="tj-choose-us-left-thumb">
                        <img src="assets/images/choose-us/choose-us-thumb.png" alt="Images">
                    </div>
                    <div class="tj-choose-us-inner">
                        <div class="tj-choose-us-center-thumb">
                            <img src="assets/images/choose-us/choose-us-center-thumb.png" alt="Images">
                        </div>
                        <div class="tj-choose-us-wrap">
                            <div class="tj-choose-us-item">
                                <div class="tj-choose-us-icon">
                                    <span><i class="flaticon-top-three"></i></span>
                                </div>
                                <div class="tj-choose-us-content">
                                    <h4 class="tj-choose-us-title">Top-Rated Company</h4>
                                    <p class="tj-choose-us-paragraph">If you've hosted a party or event, you might a cleaning service to help</p>
                                </div>
                            </div>
                            <div class="tj-choose-us-item">
                                <div class="tj-choose-us-icon">
                                    <span><i class="flaticon-quality-1"></i></span>
                                </div>
                                <div class="tj-choose-us-content">
                                    <h4 class="tj-choose-us-title">Superior Quality</h4>
                                    <p class="tj-choose-us-paragraph">This involves a thorough cleaning of entire space, including hard</p>
                                </div>
                            </div>
                            <div class="tj-choose-us-item">
                                <div class="tj-choose-us-icon">
                                    <span><i class="flaticon-eco-oil"></i></span>
                                </div>
                                <div class="tj-choose-us-content">
                                    <h4 class="tj-choose-us-title">Eco-Friendly Products</h4>
                                    <p class="tj-choose-us-paragraph">For environmentally-conscious hosted customers, there are cleaning</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="row align-items-center tj-choose-us-bottom-row">
            <div class="col-xl-7 col-lg-8 col-md-8">
                <div class="tj-choose-us-bottom-content wow fadeInLeft" data-wow-delay=".3s">
                    <h3 class="tj-choose-us-bottom-title">Went get your Cleaning Services?</h3>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4 col-md-4 col-12">
                <div class="tj-choose-us-bottom-button wow fadeInRight" data-wow-delay=".3s">
                    <a class="tj-white-btn tj-hover-btn" href="contact.html"><span>Contact us <i class="flaticon-start"></i></span>
                        <div class="tj-hover-btn-circle-dot"></div>
                    </a>
                </div>
            </div>
            <div class="tj-choose-us-bg-shape">
                <img class="tj-choose-us-bottom-bg-shape-1" src="assets/images/choose-us/choose-us-bottom-bg-shape.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Choose-us Area End-->