$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #373A3F,
	),
	text: (
		body: #696969,
	),
	theme: (
		primary: #077CEA,
		secondary: #FEDB5C,
	),
	grey: (
		1: #373A3F,
		2: #c5c5c5,
		3: #ECF1F5,
	),
	border: (
		1: #ededed,
		2: #D8DDE1,
		3: #535353,
	),
);
