<!-- Slider Area Start-->
<section class="tj-slider-area fix scene">
    <div class="tj-slider-height">
        <div class="tj-slider-bg tj-slider-overlay" data-background="assets/images/slider/slider-bg-1.jpg"></div>
        <div class="container">
            <div class="row align-items-end">
                <div class="col-xl-7 col-lg-8">
                    <div class="tj-slider-content">
                        <div class="tj-slider-title-box">
                            <h6 class="tj-slider-sub-title wow fadeInRight" data-wow-delay=".3s"><span><i class="flaticon-start"></i></span>Cleaning Services</h6>
                            <h1 class="tj-slider-title wow fadeInUp" data-wow-delay=".4s">Cleaning with Care Every Time</h1>
                            <p class="tj-slider-paragraph wow fadeInUp" data-wow-delay=".5s">This includes basic cleaning tasks in homes such as dusting, vacuuming mopping floors, cleaning bathrooms, and kitchens</p>
                        </div>
                        <div class="tj-slider-btn-box wow fadeInUp" data-wow-delay=".6s">
                            <a class="tj-primary-btn tj-hover-btn" href="contact.html"><span>Describe more <i class="flaticon-start"></i></span>
                                <div class="tj-hover-btn-circle-dot"></div>
                            </a>
                            <div class="tj-slider-call-btn">
                                <div class="tj-slider-call-icon">
                                    <a href="tel:+208555-0112"><i class="flaticon-call"></i></a>
                                </div>
                                <div class="tj-slider-call-text">
                                    <a href="tel:+208555-0112">(208) 555-0112</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4">
                    <div class="tj-slider-thumb wow fadeInUp" data-wow-delay=".8s">
                        <img src="assets/images/slider/slider-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tj-slider-bg-shape">
            <div class="tj-slider-bg-shape-1"></div>
            <img class="tj-slider-bg-shape-2" src="assets/images/slider/slider-bg-shape-2.png" alt="">
            <div class="tj-slider-bg-shape-3"></div>
        </div>
    </div>
</section>
<!-- Slider Area End-->