<!-- Footer Area Start-->
<footer class="tj-footer-area">
    <div class="tj-footer-bg-shape">
        <img src="assets/images/footer/footer-bg-shape.png" alt="">
    </div>
    <div class="tj-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="tj-footer-top-wrapper">
                        <div class="tj-footer-top-wrap">
                            <div class="tj-footer-top-wrap-icon">
                                <span><i class="flaticon-email-2"></i></span>
                            </div>
                            <div class="tj-footer-top-wrap-content">
                                <span class="sub-title">Send Email</span>
                                <span><a href="mailto:helpcleaning&#64;gmail.com">helpcleaning&#64;gmail.com</a></span>
                            </div>
                        </div>
                        <div class="tj-footer-top-wrap">
                            <div class="tj-footer-top-wrap-icon">
                                <span><i class="flaticon-call"></i></span>
                            </div>
                            <div class="tj-footer-top-wrap-content">
                                <span class="sub-title">Need Any Cleaning Help</span>
                                <span><a href="tel:+208555-0112">(208) 555-0112</a></span>
                            </div>
                        </div>
                        <div class="tj-footer-top-wrap">
                            <div class="tj-footer-top-wrap-icon">
                                <span><i class="flaticon-location"></i></span>
                            </div>
                            <div class="tj-footer-top-wrap-content">
                                <span class="sub-title">Our Address</span>
                                <span class="location">Shiloh, Hawaii 81063</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tj-footer-bottom">
        <div class="container">
            <div class="row tj-footer-bottom-row">
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="tj-footer-widget tj-footer-col-1">
                        <div class="tj-footer-widget-logo">
                            <a href="index.html"><img src="assets/images/logo/SUF - Landscape Logo - Gray.png" alt="footer-logo"></a>
                        </div>
                        <div class="tj-footer-widget-paragraph">
                            <p class="tj-footer-widget-paragraph">Clear communication successful cleaning service relationship Make sure you can easily service is easy exceptional service every time changes. </p>
                        </div>
                        <div class="tj-footer-widget-socail">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="tj-footer-widget widget_nav_menu tj-footer-col-2">
                        <h4 class="tj-footer-widget-title">Services</h4>
                        <div class="tj-footer-widget-menu">
                            <ul>
                                <li><a href="#"><span><i class="flaticon-start"></i></span> Residential Cleaning</a></li>
                                <li><a href="#"><span><i class="flaticon-start"></i></span> Commercial Cleaning</a></li>
                                <li><a href="#"><span><i class="flaticon-start"></i></span> Move-Out Cleaning</a></li>
                                <li><a href="#"><span><i class="flaticon-start"></i></span> Specialized Cleaning</a></li>
                                <li><a href="#"><span><i class="flaticon-start"></i></span> Bathroom cleaning</a></li>
                                <li><a href="#"><span><i class="flaticon-start"></i></span> Plumbing Cleaning </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                    <div class="tj-footer-widget widget_nav_menu tj-footer-col-3">
                        <h4 class="tj-footer-widget-title">Quick Link</h4>
                        <div class="tj-footer-widget-menu">
                            <ul>
                                <li><a href="/home"><span><i class="flaticon-start"></i></span> Home</a></li>
                                <li><a href="/about"><span><i class="flaticon-start"></i></span> About</a></li>
                                <li><a href="/services"><span><i class="flaticon-start"></i></span> Services</a></li>
                                <li><a href="/portfolio"><span><i class="flaticon-start"></i></span> Portfolio</a></li>
                                <li><a href="/teams"><span><i class="flaticon-start"></i></span> Team</a></li>
                                <li><a href="/contact"><span><i class="flaticon-start"></i></span> Contact </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="tj-footer-widget tj-footer-col-4">
                        <h4 class="tj-footer-widget-title">Resent Post</h4>
                        <div class="tj-footer-widget-post">
                            <div class="tj-footer-widget-post-thumb">
                                <a href="blog-details.html"><img src="assets/images/footer/footer-post-1.png" alt=""></a>
                            </div>
                            <div class="tj-footer-widget-post-content">
                                <div class="tj-footer-widget-post-date">
                                    <span><i class="flaticon-calendar"></i> Feb 10 2024</span>
                                </div>
                                <h4 class="tj-footer-widget-post-title"><a href="blog-details.html">Elevate your space with our professional touch</a></h4>
                            </div>
                        </div>
                        <div class="tj-footer-widget-post">
                            <div class="tj-footer-widget-post-thumb">
                                <a href="blog-details.html"><img src="assets/images/footer/footer-post-2.png" alt=""></a>
                            </div>
                            <div class="tj-footer-widget-post-content">
                                <div class="tj-footer-widget-post-date">
                                    <span><i class="flaticon-calendar"></i> Feb 10 2024</span>
                                </div>
                                <h4 class="tj-footer-widget-post-title"><a href="blog-details.html">The Bright Choice for a Clean Home</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tj-footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="tj-footer-copyright-wrapper">
                    <div class="tj-footer-copyright-content">
                        <p class="tj-footer-copyright-paragraph">Copyright&#64; 2025 
                            <a href="https://themeforest.net/user/theme-junction">Sinar Urban Facilities.</a> All Rights Reserved.
                        </p>
                    </div>
                    <div class="tj-footer-copyright-menu">
                        <ul>
                            <li><a href="#">Setting & Privacy</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Support </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End-->