<!-- Breadcrumb Area Start-->
<section class="tj-breadcrumb-area" [style.background-image]="'url(assets/images/breadcrumb/breadcrumb-bg.jpg)'">
    <div class="container">
        <div class="row">
            <div class="tj-breadcrumb-content text-center">
                <h2 class="tj-breadcrumb-title tj-char-animation">Team</h2>
                <p class="tj-breadcrumb-body"><span><a href="index.html">Home</a></span> <span class="spacing"><svg
                            width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.1639 8.42265C16.4818 8.74057 16.4818 9.25948 16.1639 9.57739L9.93661 15.8045C9.6182 16.1229 9.10024 16.1229 8.78187 15.8045L8.43354 15.4562C8.11485 15.1375 8.11478 14.6198 8.4335 14.301L13.1574 9.57753C13.4762 9.25884 13.4762 8.74106 13.1574 8.42237L8.43354 3.69885C8.11478 3.38012 8.11481 2.86248 8.43357 2.54375L8.7819 2.19542C9.09982 1.87751 9.61872 1.87751 9.93664 2.19542L16.1639 8.42265ZM3.34094 2.19535C3.02271 1.87708 2.50426 1.87712 2.18602 2.19535L1.8377 2.54368C1.5196 2.86178 1.51957 3.38068 1.8377 3.69881L6.5614 8.42237C6.88012 8.7411 6.88012 9.25881 6.5614 9.57753L1.83766 14.3011C1.51943 14.6193 1.51946 15.138 1.83766 15.4562L2.18599 15.8045C2.50436 16.1229 3.02253 16.1229 3.34091 15.8045L9.01506 10.1302C10.6067 11.7203 10.2041 11.317 9.01622 10.129L9.56782 9.57739C9.88595 9.25926 9.88591 8.74074 9.56782 8.42262L3.34094 2.19535Z"
                                fill="white" />
                        </svg></span> Team</p>
            </div>
        </div>
    </div>
    <div class="tj-breadcrumb-bg-shape">
        <img src="assets/images/breadcrumb/breadcrumb-bg-shape.png" alt="">
    </div>
</section>
<!-- Breadcrumb Area End-->

<!-- Team Area Start-->
<section class="tj-team-area">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of data" class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="tj-team-wrapper wow fadeInUp" data-wow-delay=".2s">
                    <div class="tj-team-thumb">
                        <a [routerLink]="['/team-detail', item.slug]"><img [src]="url_image + item.avatar.url" alt=""></a>
                    </div>
                    <div class="tj-team-social">
                        <div class="tj-team-btn">
                            <button><i class="flaticon-share"></i></button>
                        </div>
                        <div class="tj-team-icon">
                            <a *ngIf="item.url_facebook" [href]="item.url_facebook" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                            <a *ngIf="item.url_linkedin" [href]="item.url_linkedin" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a>
                            <a *ngIf="item.url_linkedin" [href]="item.url_linkedin" target="_blank"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                            <a *ngIf="item.url_vimeo" [href]="item.url_vimeo" target="_blank"><i
                                    class="fa-brands fa-vimeo-v"></i></a>
                        </div>
                    </div>
                    <div class="tj-team-content">
                        <h4 class="tj-team-title"><a [routerLink]="['/team-detail', item.slug]">{{item.name}}</a></h4>
                        <p class="tj-team-paragraph">{{ item.role_name }}</p>
                        <div class="tj-team-button">
                            <a class="tj-team-call-btn" [href]="'tel:' + item.phone"><i
                                    class="fa-solid fa-phone-volume"></i>{{ item.phone }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Area End-->